.hero {
    margin-top: 50px;
    text-align: center;
}

.menu-right {
    float: right;
}

.button-info {
    background: rgb(0,200,30);
    color: white;
    font-size: 150%;
}

.orderofthings{
     font-size: 150%;  
    text-align: left;
    list-style-type: lower-greek;
}
 .biglist{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.orderofthings:hover{  
    background: #1f8dd6;
}

.dim {
    color: rgb(50,200,50);
}

.pending {
    color: rgb(255,100,0);
}

aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

.ipxe { 
    background: rgb(0,0,255);
    padding: 0.5em;
    list-style-type: none;
    color: white;
}

.menutop{
    text-align: center;
}

.ipxe li{
    padding: 0.5em;
    list-style-type: none;
    color: white;
}
.selected { 
    background: rgb(255,0,0);
    list-style-type: none;
    color: white;
}

.chunky li {
    text-align: left;
    padding: 0.6em 0.2em;
    list-style-type:initial;
}

.content {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.copy { 
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.pure-table {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.hilight:hover { 
    background: #aaa;
    color: white;
}

.hero-site {
    font-size: 400%;
    font-weight: 100;
    margin: 0px;
}