{% extends "layout.html" %}
{% block title %}Installed machines{% endblock %}
{% block body %}
<div class="hero">
    <div class="hero-titles">
        <h1 class="hero-site">Installs</h1> 
    </div>
    <div class="hero-cta">
{% if sess %}
{% set blah = ['id','macaddress','processor','name','start_time','end_time','status'] %}
<table class="pure-table">
    <thead>
        <tr>
        {% for i in blah %}
            <th>{{ i }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for i in sess %}
    <tr class="hilight {% if i['active'] == 0%}dim{% else %}pending{% endif %}">
        {% for j in blah %}
            <td>{{ i[j] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    </div>
</div>
{% else %}
<h1> No Installed Machines </h1>
{% endif %}
{% endblock %}