{% extends "web_interface/layout.html" %}
{% set title="Bootserver" %}
{% block body %}
    <div class="hero">
    {% include('web_interface/login_button.html') %}  
    </div>
    <hr>
    <div class="biglist">
    Boot from this iso and this web application it will:
    <ul>
    <li class="orderofthings">Boot from the iso</li>
    <li class="orderofthings">Choose a server class</li>
    <li class="orderofthings">Grab a kernel and initrd to boot</li>
    <li class="orderofthings">Generate a preesed configuration file</li>
    <li class="orderofthings">Install debian with little or no interaction</li>
    <li class="orderofthings">Bootstrap a saltstack configuration repository</li>
    <li class="orderofthings">Configure and update a master server</li>
    <li class="orderofthings">Install this web application</li>
    <li class="orderofthings">Generate a boot iso</li>
    <li class="orderofthings">See first item</li>
    </ul>
    </div>
{% endblock %}