{% extends "layout.html" %}
{% block title %}Bootserver{% endblock %}
{% block body %}
<div class="hero">
    <div class="hero-titles">
        <h1 class="hero-site">Exarch</h1> 
        <h2 class="hero-tagline">recursive deployment infrastructure</h2> 
    </div>
    <div class="hero-cta">
        <p>
        {% include('login_button.html') %}  
        </p>
    </div>
    <div class="biglist">
    Boot from this iso and this web application it will:
    <ul>
    <li class="orderofthings">Boot from the iso</li>
    <li class="orderofthings">Choose a server class</li>
    <li class="orderofthings">Grab a kernel and initrd to boot</li>
    <li class="orderofthings">Generate a preesed configuration file</li>
    <li class="orderofthings">Install debian with little or no interaction</li>
    <li class="orderofthings">Bootstrap a saltstack configuration repository</li>
    <li class="orderofthings">Configure and update a master server</li>
    <li class="orderofthings">Install this web application</li>
    <li class="orderofthings">Generate a boot iso</li>
    <li class="orderofthings">See first item</li>
    </ul>
    </div>
</div>
{% endblock %}