<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive email layout.">
    <title>{% block title %}Pure Test{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static',filename="css/pure-min.css") }}">
<link rel="stylesheet" href="{{ url_for('static',filename="css/bootserver.css") }}">
</head>
<body>
<div class="main">
	{% block header %}{% endblock %}
    <div class="content">
<div class="menu-left">
<div class="pure-menu pure-menu-open ">
    <ul>
        <li><a href="{{ url_for('hello') }}">Home</a></li>
        <li><a href="{{ url_for('instructions') }}">Instructions</a></li>
        {% if current_user.is_authenticated() %}
        <li><a href="{{ url_for('installs') }}">Installs</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('platforms') }}">Platforms</a></li>               
        {% endif %}
        <li class="pure-menu-heading"></li>
        {% if current_user.is_authenticated() %}
        <li ><a href="{{ url_for('logout') }}" >Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('admin') }}">Login</a></li>
        {% endif %}
        </ul>

</div>
</div>
{% block body %}content here{% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <br>
    <div class="content">
    {% for message in messages %}
      <aside >{{ message }}</aside>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

</div>
</div>
</body>
</html>