{% extends "web_interface/layout.html" %}
{% block title %}Available Machines{% endblock %}
{% block body %}
<div class="hero">
    <div class="hero-titles">
        <h1 class="hero-site">Installs</h1> 
    </div>
    <div class="hero-cta">
{% if sess %}
{% set headings = ['name','description','platform'] %}
<table class="pure-table">
    <thead>
        <tr>
     {% if current_user.is_authenticated() %}
        <th>Edit</th>
    {% endif %}
        {% for i in headings %}
            <th>{{ i }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for i in sess %}
    <tr class="hilight {% if i['active'] == 0%}dim{% else %}pending{% endif %}">
     {% if current_user.is_authenticated() %}
        <td><button class="pure-button" >Edit</buttom></td>
    {% endif %}
        {% for j in headings %}
            <td>{{ i[j] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    </div>
</div>
{% else %}
<h1> No Installed Machines </h1>
{% endif %}
{% endblock %}