{% extends "web_interface/layout.html" %}
{% block title %}Platforms{% endblock %}
{% set title="Platforms" %}
{% block body %}
<div class="stacked">
<ul>
{% if data %}
    {% for i in data %}
        {% if i == name %}
            <li class="stacked selected"><a href="{{ url_for('platforms',name=i) }}">{{ i }}</a></li>
        {% else %}
            <li class="stacked"><a href="{{ url_for('platforms',name=i) }}">{{ i }}</a></li>    
        {% endif %}
        <ul class="sub-menu">
            {% for j in data[i] %}
            <li>{{ j }}</li>
            {% endfor %}
        </ul>
        {% if current_user.is_authenticated() %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}